/*
---------------
Fonts
---------------
*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
/*
---------------
Colors
---------------
*/

:root {
  --error-color: rgb(255, 0, 0);
  --dark-color: rgba(0, 0, 0, 0.86);
  --gray-color: rgb(189, 189, 189);
  --light-color: rgb(255, 255, 255);
  --primary-color: rgb(119, 189, 67);
  --primary-color-active: rgb(88, 137, 50);
  --secondary-color: rgb(57, 157, 89);
  --secondary-color-active: rgb(43, 118, 67);
  --tertiary-color: rgb(137, 67, 189);
  --tertiary-color-active: rgb(108, 53, 150);
}

/*
---------------
General
---------------
*/

html,
body {
  background-color: var(--white-color);
  box-sizing: border-box;
  color: var(--dark-color);
  font-size: 22px;
  margin: 0 !important;
  min-height: 100vh;
  padding: 0;
}

* {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Source Sans Pro', sans-serif;
  min-width: 280px;
}

.page-width {
  margin: auto;
  max-width: 1200px;
  width: 90%;
}

/* Headings */

h1,
h1>a {
  color: var(--secondary-color);
  font-size: 2rem;
  margin: 0;
}

h2,
h2>a {
  color: var(--tertiary-color);
  font-size: 1.4rem;
  margin: 0;
  text-decoration: none;
}

h3,
h3>a {
  color: var(--secondary-color);
  font-size: 1.2rem;
  margin: 0;
}

h4,
h4>a {
  color: var(--dark-color);
  font-size: 1.1rem;
  margin: 0;
}

h5,
h5>a,
h6,
h6>a {
  color: var(--dark-color);
  font-size: 1rem;
  margin: 0;
}

mark {
  color: var(--secondary-color);
  background: none;
  font-weight: bold;
}

/* Paragraphs */

p {
  margin: 0 0 10px 0;
}

/* Messages */

h1.message {
  color: var(--tertiary-color);
  margin-top: 25px;
  text-align: center;
}

h2.message {
  color: var(--tertiary-color);
  margin-top: 25px;
  text-align: center;
}

h3.message {
  color: var(--tertiary-color);
  margin-top: 25px;
  text-align: center;
}

p.message {
  text-align: center;
}

/* Images */

figure {
  display: block;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Links */

a {
  color: var(--tertiary-color);
}

a:active {
  color: var(--tertiary-color-active);
}

a:focus {
  outline: 1px dashed black;
}

a:hover {
  text-decoration: none;
}

/* Pagination Links */

.page-links {
  display: block;
  font-size: 1.3rem;
  text-align: center;
}

/* Wordpress Posts */

img.alignright,
a img.alignright,
div.alignright {
  float: right;
  margin: 0 0 1em 1em
}

img.alignleft,
a img.alignleft,
div.alignleft {
  float: left;
  margin: 0 1em 1em 0
}

img.aligncenter,
a img.aligncenter,
div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.wp-caption-text {
  font-size: .9rem;
  text-align: center;
}

/*
---------------
Header
---------------
*/

.page-header {
  align-items: flex-start;
  background-color: var(--primary-color);
  background: linear-gradient(to top, var(--secondary-color), var(--primary-color));
  box-shadow: 3px 2px 5px var(--gray-color);
  color: var(--light-color);
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}

.header-content {
  align-items: flex-end;
  align-content: flex-end;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  min-height: 75px;
}

/* Header Logo */

.header-logo {
  flex: none;
}

.header-logo a {
  display: block;
}

.header-logo img {
  border: 5px solid transparent;
  height: 150px;
  width: auto;
}

/* Header Navigation Menu */

.header-navigation {
  font-weight: 500;
}

.header-navigation ul {
  align-items: flex-end;
  display: flex;
  flex-flow: row wrap;
  font-size: 1.6rem;
  justify-content: flex-start;
  padding: 0 0 0 10px;
}

.header-navigation ul li {
  background-color: inherit;
  box-sizing: inherit;
  min-width: 100px;
}

.header-navigation ul li a {
  border-bottom: 0px solid var(--tertiary-color);
  padding: 5px 15px 0 15px;
  text-align: center;
  transition: border-bottom .2s;
  width: 100%;
}

.header-navigation ul li a:hover,
.header-navigation ul li a:active,
.header-navigation ul li a:focus {
  background-color: inherit;
  border-bottom: 5px solid var(--light-color);
  color: inherit;
}

.header-navigation ul li a:active {
  background-color: rgba(0, 0, 0, 0.08);
}

.header-navigation ul li.current-menu-item a,
.header-navigation ul li.current-menu-item a:hover,
.header-navigation ul li.current-menu-item a:active {
  border-bottom: 5px solid var(--light-color);
}

/* Mobile Header Navigation Menu */

#header-navigation-menu-link {
  align-items: center;
  color: white;
  display: none;
  font-size: 48px;
  margin: 10px 0 0 10px;
  outline: none;
  outline: 0;
  text-decoration: none;
}

.header-menu-label {
  color: inherit;
  display: block;
  font-size: .6em;
  padding-left: 5px;
}

.header-menu-icon {
  background-color: transparent;
  border: 2px solid white;
  border-radius: .2em;
  box-sizing: border-box;
  color: inherit;
  display: block;
  font-size: 1em;
  height: 1em;
  overflow: hidden;
  position: relative;
  text-indent: 1em;
  width: 1em;
}

.header-menu-icon::before {
  background-color: white;
  border-radius: .2em;
  box-shadow: 0 .2em 0 white, 0 .4em 0 white;
  content: '';
  display: block;
  height: .1em;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: .2em;
  width: .6em;
}

/*
---------------
Navigation List
---------------
*/

.navigation-list ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.navigation-list ul li a {
  box-sizing: inherit;
  color: inherit;
  display: block;
  text-decoration: none;
}

/*
---------------
Page Content
---------------
*/

.page-body {
  display: flex;
  flex: 1;
  flex-flow: row-reverse nowrap;
}

.page-content {
  flex: 1;
  padding: 0 10px 0px 10px;
}

.content-featured-image {
  margin-bottom: 5px;
  width: 100%;
}

/*
---------------
Search Form
---------------
*/

.content-search-form {
  margin: auto;
  width: 80%;
}

.search-form {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.search-form-input {
  border-radius: 5px;
  border: 2px solid var(--gray-color);
  flex: 1;
  font-family: inherit;
  font-size: 1rem;
  margin-right: 5px;
  min-width: 0px;
  padding: 2px 5px;
  transition: all ease-in-out .25s;
}

.search-form-input:focus,
.search-form-input:hover {
  border: 2px solid var(--secondary-color);
  outline: none;
  outline: 0;
}

.search-form-input:placeholder {
  color: var(--gray-color);
}

.search-form-submit {
  background-color: var(--light-color);
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  color: var(--secondary-color);
  font-family: inherit;
  flex: none;
  font-family: inherit;
  font-size: 1rem;
  padding: 2px 5px;
  transition: all ease-in-out .25s;
}

.search-form-submit:hover,
.search-form-submit:focus {
  background-color: var(--secondary-color);
  color: var(--light-color);
  outline: none;
  outline: 0;
}

.search-form-submit:active {
  background-color: var(--secondary-color-active);
  border: 2px solid var(--secondary-color-active);
  color: var(--light-color);
}

/*
---------------
Post Loop
---------------
*/

.content-preview-post {
  align-items: center;
  border-bottom: 2px solid var(--tertiary-color);
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.content-preview-post:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.preview-post-image {
  align-self: flex-start;
  flex: none;
  margin-right: 10px;
  min-width: 250px;
  width: 33%;
}

.preview-post-text {
  flex: 1;
}

/*
---------------
Sidebar
---------------
*/

.page-sidebar {
  flex: none;
  padding: 0 10px 0 10px;
  width: 300px;
}

/* Sidebar Widget */

.sidebar-section>div {
  margin-top: 5px;
}

/* Sidebar Navigation Menu */

.sidebar-navigation ul {
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.3rem;
  padding: 0;
}

.sidebar-navigation ul li {
  margin-bottom: 5px;
}

.sidebar-navigation ul li a {
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 2px 2px 2px var(--gray-color);
  color: var(--light-color);
  padding: 5px 20px;
  transition: padding-left .2s;
}

.sidebar-navigation ul li.current-menu-item a,
.sidebar-navigation ul li a:hover,
.sidebar-navigation ul li a:active,
.sidebar-navigation ul li a:focus {
  padding-left: calc(8% + 20px);
}

.sidebar-navigation ul li a:active {
  background-color: var(--secondary-color-active);
}

/*
---------------
Footer
---------------
*/

.page-footer {
  margin-top: 20px;
  width: 100%;
}

.page-footer p {
  margin: 0;
}

.page-footer li {
  list-style: none;
}

.footer-content {
  border-top: 3px solid var(--tertiary-color);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  min-height: 200px;
}

/* Footer Widgets */

.footer-section {
  flex: none;
  padding: 10px;
}

.footer-section>div {
  margin-top: 5px;
}

/* Footer Social Media Icons */

.footer-icons-list {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-icon {
  margin: 0 5px;
}

.footer-icon a {
  display: block;
}

.footer-icon:first-of-type {
  margin-left: 0;
}

.footer-icon:last-of-type {
  margin-right: 0;
}

.footer-icon a img {
  width: 35px;
  height: 35px;
}

/* Footer Logo */

.footer-logo a {
  display: block;
}

.footer-logo a img,
.footer-logo img {
  height: auto;
  width: 200px;
}

/*
---------------
Woocommerce
---------------
*/

.woocommerce {
  font-family: inherit;
}


/* Buttons */
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce a.button.alt {
  background: var(--tertiary-color);
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px var(--gray-color);
  color: var(--light-color);
  margin-top: 10px;
}

.woocommerce button.button:hover,
.woocommerce button.button:focus,
.woocommerce button.button.alt:hover,
.woocommerce button.button.alt:focus,
.woocommerce a.button.alt:focus,
.woocommerce a.button.alt:hover {
  background-color: var(--tertiary-color);
  color: var(--light-color);
  opacity: 0.9;
}

.woocommerce button.button:active,
.woocommerce button.button.alt:active,
.woocommerce a.button.alt:active {
  background-color: var(--tertiary-color-active);
  color: var(--light-color);
  opacity: none;
}

.woocommerce button.button:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled],
.woocommerce button.button:disabled[disabled]:hover,
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce a.button.alt:disabled[disabled]:hover {
  background-color: var(--gray-color);
  color: var(--dark-color);
  opacity: 0.5;
}

.woocommerce a.button, {
  background: var(--light-color);
  border: 2px solid var(--gray-color);
  border-radius: 5px;
  color: var(--dark-color);
  transition: all .18s ease-in-out;
}

.woocommerce a.button:focus,
.woocommerce a.button:hover {
  background: var(--light-color);
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.woocommerce a.button:active {
  border-color: var(--secondary-color-active);
  color: var(--secondary-color-active);
}

/* Fieldset */

.woocommerce fieldset {
  border: 2px solid var(--gray-color);
  border-radius: 2px;
}

/* Input */

.woocommerce input,
.woocommerce .input-text {
  color: var(--dark-color);
  border: 2px solid var(--gray-color);
  border-radius: 2px;
  font-family: inherit;
  font-size: 1em;
  padding: 2px 5px;
  transition: all .18s ease-in-out;
}

.woocommerce input:focus,
.woocommerce input:hover,
.woocommerce .input-text:focus,
.woocommerce .input-text:hover {
  border-color: var(--secondary-color) !important;
}

.woocommerce input:invalid,
.woocommerce form .form-row.woocommerce-validated input.input-text {
  border-color: var(--error-color);
  box-shadow: none;
}

/* Info */

.woocommerce-info {
  border-color: var(--tertiary-color);
  color: inherit;
}

.woocommerce-info::before {
  color: var(--tertiary-color);
}

/*.select2-dropdown {
  border: 2px solid var(--secondary-color);
  border-radius: 2px;
}

.woocommerce .select2-selection:focus,
.woocommerce .select2-selection:hover
.select2-container--open .select2-selection.select2-selection--single {
  border-color: var(--secondary-color) !important;
}

.woocommerce .select2-selection {
  border: 2px solid var(--gray-color);
  border-radius: 2px;
}*/

/* My Account Navigation */

.woocommerce-MyAccount-navigation>ul {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.woocommerce-MyAccount-navigation-link a {
  background-color: var(--tertiary-color);
  border-radius: 5px;
  box-shadow: 1px 1px 1px var(--gray-color);
  color: white;
  display: block;
  font-size: 1.2rem;
  margin: 0 5px 5px 0;
  padding: 2px 5px;
  text-decoration: none;
}

.woocommerce-MyAccount-navigation-link a:focus,
.woocommerce-MyAccount-navigation-link a:hover {
  text-decoration: underline;
}

/* Pagination */

.woocommerce nav.woocommerce-pagination>ul.page-numbers {
  border: none;
}

.woocommerce nav.woocommerce-pagination>ul.page-numbers>li {
  border: none;
  margin-left: 2px;
}

.woocommerce nav.woocommerce-pagination>ul.page-numbers>li>a.page-numbers {
  background: none;
  border: 2px solid var(--gray-color);
  border-radius: 2px;
  color: var(--dark-color);
  transition: all .18s ease-in-out;
}

.woocommerce nav.woocommerce-pagination>ul.page-numbers>li>a.page-numbers:focus,
.woocommerce nav.woocommerce-pagination>ul.page-numbers>li>a.page-numbers:hover {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.woocommerce nav.woocommerce-pagination>ul.page-numbers>li>a.page-numbers:active {
  border: 2px solid var(--secondary-color-active);
  color: var(--secondary-color-active);
}

.woocommerce nav.woocommerce-pagination>ul.page-numbers>li>span.page-numbers {
  background: none;
  color: var(--dark-color);
}

/* Select */
.woocommerce select {
  background-color: var(--light-color);
  border: 2px solid var(--gray-color);
  border-radius: 2px;
  font-family: inherit;
  font-size: 1em;
  transition: all .5s ease-in-out;
}

.woocommerce select:focus,
.woocommerce select:hover {
  border-color: var(--secondary-color);
  outline: none;
  outline: 0;
}

/* Product */
.woocommerce .single-product {
  margin-top: 10px;
}

.woocommerce .product_meta>span {
  display: block;
}

/* Products */
.woocommerce ul.products li.product .price {
  color: var(--tertiary-color);
}

.woocommerce span.onsale {
  background-color: var(--primary-color);
  line-height: 2em;
  min-height: 2em;
}

.woocommerce .woocommerce-loop-product__title {
  color: var(--secondary-color);
}

/*
---------------
Media Queries
---------------
*/

@media all and (max-width: 1200px) {
  /* General */
  .page-width {
    width: 100%;
  }
}

@media all and (max-width: 1000px) {
  /* General */
  .page-body {
    align-items: flex-end;
    align-content: flex-end;
    flex-flow: column-reverse nowrap;
  }
  .page-content {
    flex: none;
    margin-bottom: 20px;
    width: 100%;
  }
  /* Sidebar */
  .page-sidebar {
    flex: 1;
  }
}

@media all and (max-width: 780px) {
  /* Header */
  .header-content {
    align-items: center;
    flex-flow: column nowrap;
    padding-bottom: 10px;
  }
  .header-logo {
    align-self: flex-center;
  }
  .header-navigation {
    display: none;
    padding: 0 10px;
    width: 100%;
  }
  .header-navigation ul {
    align-items: center;
    flex-flow: column nowrap;
    padding-left: 0;
    width: 100%;
  }
  .header-navigation ul li {
    width: 100%;
  }
  .header-navigation ul li a,
  .header-navigation ul li a:hover,
  .header-navigation ul li a:active {
    border-bottom: 2px solid var(--light-color) !important;
  }
  #header-navigation-menu-link {
    align-self: flex-start;
    display: flex;
    flex-flow: row nowrap;
  }
  /* Post Loop */
  .content-preview-post {
    flex-flow: column nowrap;
  }
  .preview-post-image {
    align-self: flex-start;
    margin: 0;
    max-width: 600px;
    width: 100%;
  }
}

@media all and (max-width: 600px) {
  /* General */
  html,
  body {
    font-size: 20px;
  }
  /* Search Form */
  .content-search-form {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  /* Footer */
  .footer-content {
    flex-flow: column nowrap;
  }
  .footer-section {
    width: 100%;
  }
}

@media all and (max-width: 400px) {
  /* Sidebar */
  .page-sidebar {
    width: 100%;
  }
}